<%= error_messages_for(f.object) %>
<div class="form-group row">
  <%= f.label(:name, nil, class:"col-12 col-sm-2 col-form-label" ) %>
  <div class="col-12 col-sm-10">
    <%= f.text_field(:name, class:"form-control form-control-sm") %>
  </div>
</div>
<div class="form-group row">
  <%= f.label(:page_id, nil, class:"col-12 col-sm-2 col-form-label" ) %>
  <div class="col-12 col-sm-10">
  <%= f.select(:page_id, @pages.map { |p| [p.name, p.id]}) %>
  </div>
</div>
<div class="form-group row">
  <%= f.label(:position, nil, class:"col-12 col-sm-2 col-form-label" ) %>
  <div class="col-12 col-sm-10">
  <%= f.select(:position, 1..@section_count) %>
  </div>
</div>
<div class="form-group row">
  <div class="col-12 col-sm-2">
      Content Type
  </div>
  <div class="col-12 col-sm-10">
    <div class="form-check">
      <%= f.radio_button(:content_type, 'text', class:'form-check-input') %>
      <%= f.label :content_type, 'Text', :value => 'text', class:'form-check-label' %><br />
      <%= f.radio_button(:content_type, 'HTML', class:'form-check-input') %>
      <%= f.label :content_type, 'HTML', :value => 'HTML' %>
    </div>
  </div>


</div>
<div class="form-group row">
  <%= f.label(:content, nil, class:"col-12 col-sm-2 col-form-label" ) %>
  <div class="col-12 col-sm-10">
    <%= f.text_area(:content, :size => '40x10', class:"form-control" ) %>
  </div>
</div>
<div class="form-group row">
  <div class="col-12 col-sm-2">
      <%= f.label(:visible, class:"form-check-label" ) %>
  </div>
  <div class="col-12 col-sm-10">
    <div class="form-check">
      <%= f.check_box(:visible, class:'form-check-input m-0') %>
    </div>
  </div>
</div>
