<% @page_title = "All Subjects" %>
<div class="row admin-header">
  <div class="col-12">
    <h2>Subjects</h2>
  </div>
  <div class="col-6">
    <%= link_to(fa_icon("arrow-left", text: 'Back to Menu'), admin_path, :class => 'back-link')%>
  </div>
  <div class="col-6">
    <%= link_to(fa_icon("plus", text: 'Add New Subject'), new_subject_path, :class => 'new') %>
  </div>
</div>
<div class="table-responsive index">
  <table class="table table-sm table-hover">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Visible</th>
      <th scope="col">Pages</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
      <tr>
        <th scope="row"><%= subject.position %></td>
        <td><%= subject.name %></td>
        <td><%= status_tag(subject.visible) %></td>
        <td><%= link_to(fa_icon("binoculars", text:'View Pages'), pages_path(:subject_id => subject.id), :class => "action view") %> <span class="badge badge-dark"><%= subject.pages.size %> </span></td>
        <td class="actions">
          <%= link_to(fa_icon("eye"), subject_path(subject), :class => "action-show") %>
          <%= link_to(fa_icon("pencil"), edit_subject_path(subject), :class => "action-edit") %>
          <%= link_to(fa_icon("trash"), delete_subject_path(subject), :class => "action-delete") %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
