<% subjects ||= [] %>

<% subjects.each do |subject| %>
<div class="card">
  <div class="card-header" id="heading">
    <h5 class="mb-0" data-toggle="collapse" data-target="#<%= subject.name.gsub(/\s+/, "") %>" aria-expanded="true" aria-controls="<%= subject.name.gsub(/\s+/, "") %>">
      <%= subject.name %>
    </h5>
  </div>
  <div id="<%= subject.name.gsub(/\s+/, "") %>" class="collapse hide" aria-labelledby="heading" data-parent="#sidenav">
    <% subject.pages.visible.sorted_asc.each do |page| %>
    <div class="card-body"><%= link_to_unless_current(page.name, public_show_path(page.permalink)) %></div>
    <% end %>
  </div>
</div>
<% end %>
