<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simple CMS<%= " | #{@page_title}" if @page_title %></title>
      <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render(:partial => 'layouts/header')%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-12">
          <div id="sidenav">
            <%= render(:partial => 'layouts/navigation', :locals => { :subjects => @subjects }) %>
          </div>
        </div>
        <div class="col-sm-8 col-12">
          <div id="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render(:partial => 'layouts/footer')%>
  </body>
</html>
